@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
html{
   scroll-behavior: smooth;
}
body{
   padding: 0;
   margin: 0;
   background-color: #75624a;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   min-height: 100vh;
   background-attachment: fixed;
}
.a{
   position: relative;
   background-image: url(../images/a.jpg);
   background-position: center, bottom;
   background-repeat: no-repeat;
   width: 100%;
   height: 270px;
   min-height: 270px;
   max-height: 270px;
   opacity: 1;
   z-index: 1000;
}
.text{
   font-family: 'Passions Conflict', cursive ,serif;
   position: absolute;
   left: 0;
   right: 0;
   display: inline-block;
   text-align: center;
   left: 450px;
   bottom: 270px;
   font-size: 190px;
   font-weight: 500;
   color: #7a624b;
   opacity: 0.7;
}
@keyframes ani1{
   0%{
      bottom: 270px;}
   50%{
      bottom: 10px;}
   100%{
      bottom: 20px;}
}
.text1{
   font-family: 'Passions Conflict', cursive ,serif;
   position: absolute;
   display: inline-block;
   text-align: center;
   left: 450px;
   bottom: 20px;
   font-size: 170px;
   font-weight: 500;
   color: #7a624b;
   opacity: 0.7;
   animation-name: ani1;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}
.box{
   position: relative;
   display: inline-block;
   width: 200px;
   height: 200px;
   left: auto;
   border-radius: 300px;
   user-select: none;
   cursor: pointer;
   transition: all 0.5s;
   position: relative;
   overflow: hidden;
   margin-left: 40px;
   margin-top: 50px;
   margin-bottom: 50px;
}
.box img{
   background-position: center, bottom;
   width: 250px;
   height: 280px;
   opacity: 0.5;
}
.box:hover img{
   width: 200px;
   height: 200px;
   opacity: 1;
   left: 100px;
   transition: all 0.35s;
}
.word{
   font-family: 'Passions Conflict', cursive ,serif;
   position: relative;
   text-align: center;
   font-size: 50px;
   font-weight: 300;
   color: #75624a;
   text-decoration: none;
   left: 70px;
   top: -60px;
   line-height: 30px;
   transform: all 3s;
   transition-delay: 3s;
}
.word92{
   font-family: 'Passions Conflict', cursive ,serif;
   position: relative;
   text-align: center;
   font-size: 50px;
   font-weight: 300;
   color: #75624a;
   text-decoration: none;
   left: 55px;
   top: -60px;
   line-height: 30px;
   transform: all 3s;
   transition-delay: 3s;
}
.word112{
   font-family: 'Passions Conflict', cursive ,serif;
   position: relative;
   text-align: center;
   font-size: 50px;
   font-weight: 300;
   color: #75624a;
   text-decoration: none;
   left: 55px;
   top: -60px;
   line-height: 30px;
   transform: all 3s;
   transition-delay: 3s;
}
.word113{
   font-family: 'Passions Conflict', cursive ,serif;
   position: relative;
   text-align: center;
   font-size: 50px;
   font-weight: 300;
   color: #75624a;
   text-decoration: none;
   left: 55px;
   top: -60px;
   line-height: 30px;
   transform: all 3s;
   transition-delay: 3s;
}
.word142{
   font-family: 'Passions Conflict', cursive ,serif;
   position: relative;
   text-align: center;
   font-size: 50px;
   font-weight: 300;
   color: #75624a;
   text-decoration: none;
   left: 55px;
   top: -60px;
   line-height: 30px;
   transform: all 3s;
   transition-delay: 3s;
}
.word16{
   font-family: 'Passions Conflict', cursive ,serif;
   position: relative;
   text-align: center;
   font-size: 50px;
   font-weight: 300;
   color: #75624a;
   text-decoration: none;
   left: 36px;
   top: -60px;
   line-height: 30px;
   transform: all 3s;
   transition-delay: 3s;
}
/*.words{
   font-family: 'Passions Conflict', cursive ,serif;
   position: relative;
   text-align: center;
   font-size: 100px;
   font-weight: 400;
   color: #75624a;
   text-decoration: none;
   left: -5px;
   top: -120px;
   line-height: 30px;
   opacity: 0;
   z-index: 2000;
   transform: translate(0px, 0px);
   transform: all 3s;
   transition-delay: 3s;
}*/
.c{
   position: relative;
   padding: 0;
   margin: 0;
   background-color: #4a3e2f;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   min-height: 200px;
}
.word2{
   font-family: 'Passions Conflict', cursive ,serif;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
   top: -15px;
   text-align: center;
   font-weight: 300;
   font-size: 100px;
   color: #fff;
   text-decoration: none;
   line-height: 130px;
}
.word3{
   font-family: 'Passions Conflict', cursive ,serif;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
   top: 120px;
   text-align: center;
   font-weight: 300;
   font-size: 50px;
   color: #fff;
   text-decoration: none;
   line-height: 40px;
}
.word4{
   font-family: 'Passions Conflict', cursive ,serif;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
   top: 150px;
   text-align: center;
   font-weight: 300;
   font-size: 30px;
   color: #fff;
   text-decoration: none;
   line-height: 40px;
}



.home{
  position: absolute;
  top: auto;
  left: auto;
}
.home a{
  list-style-type: none;
  text-decoration: none;
  font-size: 60px;
  white-space: nowrap;
}
.home a:hover{
  text-decoration: none;
  font-size: 70px;
  white-space: nowrap;
  transition: all 0.3s;
}
.fa-home{
  color: #917959;
  z-index: 1000;
}

rgba(255,255,255,0.5)